{% extends 'core/base.html' %}
{% block content %}
<h2>{% if es_admin %}Historial de Ventas de la Empresa{% else %}Mis Compras{% endif %}</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Nro Fac</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Monto</th>
            <th>Nro GD</th>
            <th>Estado GD</th>
            <th>Nro SS</th>
            <th>Estado SS</th>
        </tr>
    </thead>
    <tbody>
        {% for fac in facturas %}
        <tr>
            <td>{{ fac.0 }}</td>
            <td>{{ fac.1 }}</td>
            <td>{{ fac.2 }}</td>
            <td>{{ fac.3 }}</td>
            <td>{{ fac.4 }}</td>
            <td>{{ fac.5 }}</td>
            <td>{{ fac.6 }}</td>
            <td>{{ fac.7 }}</td>
            <td>{{ fac.8 }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">No hay facturas registradas.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
