{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/home.css' %}?v=4.1" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block content %}
<h2>{% if es_admin %}Historial de Ventas de la Empresa (Vista del Administrador){% else %}Mis Compras (Vista del Cliente){% endif %}</h2>

<table border="1">
    <tr>
        <th>Nro Fac</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Descripción</th>
        <th>Monto</th>
        <th>Nro GD</th>
        <th>Estado GD</th>
    </tr>
    {% for f in facturas %}
    <tr>
        <td>{{ f.nrofac }}</td>
        <td>{{ f.rutcli }}</td>
        <td>{{ f.fechafac }}</td>
        <td>{{ f.descfac }}</td>
        <td>{{ f.monto }}</td>
        <td>{{ f.nrogd }}</td>
        <td>{{ f.estadogd }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}