{% extends 'core/base.html' %}
{% block content %}
<h2>Ingresar una Solicitud de Servicio</h2>

<form method="post" action="{% url 'ingresar_solicitud_servicio' %}">
  {% csrf_token %}

  <label>Precio de la visita:</label>
  <input type="text" name="precio" value="25000" readonly><br><br>

  <label>Tipo de solicitud:</label>
  <select name="tipo" required>
    <option value="">Seleccione un tipo</option>
    <option value="Mantención">Mantención</option>
    <option value="Reparación">Reparación</option>
  </select><br><br>

  <label>Descripción:</label><br>
  <textarea name="descripcion" rows="4" cols="50" required></textarea><br><br>

  <label>Fecha de la visita:</label>
  <input type="date" name="fecha" required><br><br>

  {% comment %} <label>Hora de la visita:</label>
  <input type="time" name="hora" required><br><br> {% endcomment %}

  <button type="submit">Pagar</button>
  <button type="reset">Limpiar</button>
</form>

{% if mesg %}
<p style="color: red;">{{ mesg }}</p>
{% endif %}
{% endblock %}