{% extends 'core/base.html' %}
{% block content %}
<h2>Confirmar Solicitud de Servicio</h2>

<form method="GET" action="{{ url_tbk }}">
  <input type="hidden" name="token_ws" value="{{ token_ws }}">

  <label>Precio de la visita:</label>
  <input type="text" name="precio" value="${{ precio }}" disabled><br><br>

  <label>Tipo de solicitud:</label>
  <input type="text" name="tipo" value="{{ tipo }}" disabled><br><br>

  <label>Descripción:</label><br>
  <textarea name="descripcion" rows="4" cols="50" disabled>{{ descripcion }}</textarea><br><br>

  <label>Fecha de la visita:</label>
  <input type="text" name="fecha" value="{{ fecha }}" disabled><br><br>

  {% comment %} <label>Hora de la visita:</label><br>
  <input type="text" value="{{ hora }}" disabled><br><br> {% endcomment %}

  {% if not estado %}
    <button type="submit">Confirmar y Pagar</button>
    <a href="{% url 'ingresar_solicitud_servicio' %}">
      <button type="button">Cancelar</button>
    </a>
  {% endif %}

</form>
{% if estado == "exito" %}
  <div style="text-align: center; margin-top: 30px;">
    <h2 style="color: green;">{{ mensaje }}</h2>
    <p>Gracias por confiar en nosotros.</p>
    <a href="{% url 'ver_facturas' rut %}">
      <button class="btn btn-primary">Ir a Mis Facturas</button>
    </a>
  </div>
{% elif estado == "error" %}
  <div style="text-align: center; margin-top: 30px;">
    <h2 style="color: red;">¡Ha ocurrido un error!</h2>
    <p>{{ mensaje }}</p>
    <a href="{% url 'home' %}" class="btn btn-secondary">Volver al inicio</a>
  </div>
{% endif %}


{% endblock %}


